.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.headerRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.walletInput {
    min-width: 40vw;
}

.empty {
    margin-top: 128px;
}

.gridItem {
    transition: all 0.3s;
}

.gridItem:hover {
    transform: scale(1.05, 1.05);
}